.wrapper {
    width: 100%;
    height: 65vh;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent !important;
    -webkit-focus-ring-color: transparent !important;
    outline: none !important;  
}

.container {
    width: 92%;
    height: 96%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.searchInput {
    align-self: flex-end;
    display: flex;
    align-items: center;
    grid-gap: 4rem;
    margin-right: 2rem;
}

/* Search container starts here */
.search_container {
    background: #fff;
    padding: .7rem 1rem;
    border-radius: 4rem;
    display: flex;
    align-items: center;
    grid-gap: 4.5rem;
}

.search_container label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_container > input {
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--black_secondary);
}

.search_container > input::placeholder {
    color: var(--black_secondary);
}

.search {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    color: var(--button_background);
}

.microphone {
    display: flex;
    align-items: center;
    background: var(--button_background);
    border-radius: 50%;
    padding: .8rem;
}

.mike {
    width: 1.4rem;
    height: 1.4rem;
    cursor: pointer;
    color: var(--brown_primary);
}

.login {
    position: relative;
    top: .5rem;
    display: flex;
    align-items: center;
    color: #fff;
    grid-gap: 2rem;
}

.login span {
    display: flex;
    cursor: pointer;
    align-items: center;
    grid-gap: .5rem;
    color: #dfd0b1;
    font-size: 1.6rem;
}

.login span h5 {
    font-size: 1.4rem;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 400;
    transition: all 0.3s;
}

.login span:hover h5 {
    color: var(--brown_primary);
}

/* When User is logged in --------------------
------------------ */
.left_icon {
    position: relative;
    display: flex;
    align-items: center;
    color: #dfd0b1;
    font-size: 2rem;
}

.left_icon > span {
    display: block;
    width: 2px;
    height: 1.5rem;
    margin-right: 1.5rem;
    margin-left: .5rem;
    background: #dfd0b1;
}

.cog {
    cursor: pointer;
}

.cart {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cart > span {
    position: absolute;
    top: -1.5rem;
    right: -1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.2rem;
    height: 2.2rem;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 50%;
    color: #fff;
    background: #e3be54;
    z-index: 2;
}

.cog:hover ~ .user_setting {
    display: block;
    transition: all 0.5s ease;
}

.user_setting:hover {
    display: block;
}

.user_setting {
    top: 2rem;
    position: absolute;
    display: none;
    left: -50%;
    width: 18rem;
    border-radius: .3rem;
    background: var(--brown_primary);
    transition: all 0.5s ease;
}

.user_setting h4 {
    cursor: pointer;
    font-size: 1.3rem;
    letter-spacing: 1px;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    grid-gap: .5rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.3s ease;
}

.user_setting h4:hover {
    background-color: #e9ce66;
    color: var(--brown_primary);
}

.user_setting_icon {
    color: #dfd0b1;
    font-size: 1.2rem;
}

.menu {
    cursor: pointer;
    font-size: 2rem;
    display: flex;
    align-items: center;
    color: #dfd0b1;
    justify-content: center;
}

/* Navigation menu starts here-------------------
----------------- */
.navigation {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    grid-gap: 2.5rem;
    overflow-y: auto;
    align-items: center;
    height: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: all 0.5s ease;
    z-index: 5;
}

.navigation.active {
    padding: 4rem 0;
    height: 100vh;
}

.cancel {
    position: absolute;
    background: -webkit-linear-gradient(#e9ce66, #c87300);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ca8a2f;
    cursor: pointer;
    font-size: 2.2rem;
    top: 4rem;
    right: 4rem;
}

.navigation h4 {
    background: -webkit-linear-gradient(#e9ce66, #c87300);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    -webkit-text-fill-color: transparent;
}

/* Search container ends here */

.my_account {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    margin-bottom: 2.5rem;
}

.my_account p {
    width: 50%;
    color: #fff;
}

.my_account > .title {
    display: flex;
    grid-gap: 1rem;
    align-items: center;
    font-size: 3.6rem;
    background: -webkit-linear-gradient(#c87300, #e9ce66);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.my_account > .title h1 {
    width: 60%;
    text-transform: uppercase;
    width: fit-content;
    font-size: 3.6rem;
    /* color: #9a6c38; */
}

.my_account > .title i {
    font-size: 3.6rem;
}


@media (max-width: 1199.98px) {
    .container {
        height: 94%;
    }
    
    .search_container {
        padding: .7rem 1rem;
        border-radius: 4rem;
        grid-gap: 2rem;
    }

    .my_account {
        margin-bottom: 1rem;
    }
    
}

@media (max-width: 991.98px) {
    .wrapper {
        height: 60vh;
        background-size: 120% 100% !important;
    }

    .search_container {
        grid-gap: 1rem;
    }
}

@media (max-width: 767.98px) {
    .wrapper {
        height: 40vh;
        background-size: 110% 100% !important;
    }
    .my_account > .title {
        font-size: 3.2rem;
    }
    
    .my_account > .title h1 {
        width: 70%;
        font-size: 2.8rem;
    }

    .my_account > .title i {
        font-size: 2.8rem;
    }

    /* -----------------
    ------------ */
    .user_setting {
        left: -100%;
    }
}

@media (max-width: 575.98px) {
    .wrapper {
        height: 35vh;
        background-size: 120% 100% !important;
    }

    .searchInput {
        display: flex;
        margin-top: 1rem;
        flex-direction: column-reverse;
        align-items: flex-end;
        grid-gap: 1rem;
        margin-right: 0;
    }

    .search_container > input {
        width: 16rem;
        font-size: 1.4rem;
    }

    .my_account {
        grid-gap: 0rem;
        margin-bottom: 1rem;
    }
    
    .user_setting {
        left: -120%;
    }
 }