.wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent !important;
    -webkit-focus-ring-color: transparent !important;
    outline: none !important;  
}

.background_img {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.background_img > img {
    width: 100%;
    height: 100%;
}

.container {
    padding: 1rem 3rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0);
    justify-content: space-between;
    z-index: 2;
}

/* Header section starts here */

.container > header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    position: relative;
    top: 1rem;
    width: 4rem !important;
    height: 5.2rem !important;
}

.links {
    display: flex;
    align-items: center;
    grid-gap: 4rem;
    margin-right: 2rem;
}

.login {
    position: relative;
    top: .5rem;
    display: flex;
    align-items: center;
    color: #fff;
    grid-gap: 2rem;
}

.login span {
    display: flex;
    cursor: pointer;
    align-items: center;
    grid-gap: .5rem;
    color: #dfd0b1;
    font-size: 1.6rem;
}

.login span h5 {
    font-size: 1.4rem;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 400;
    transition: all 0.3s;
}

.login span:hover h5 {
    color: var(--brown_primary);
}

.menu {
    cursor: pointer;
    font-size: 2rem;
    display: flex;
    align-items: center;
    color: #dfd0b1;
    justify-content: center;
}

/* Navigation menu starts here-------------------
----------------- */
.navigation {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    grid-gap: 2.5rem;
    overflow-y: auto;
    align-items: center;
    height: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: all 0.5s ease;
    z-index: 5;
}

.navigation.active {
    padding: 4rem 0;
    height: 100vh;
}

.cancel {
    position: absolute;
    background: -webkit-linear-gradient(#e9ce66, #c87300);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ca8a2f;
    cursor: pointer;
    font-size: 2.2rem;
    top: 4rem;
    right: 4rem;
}

.navigation h4 {
    background: -webkit-linear-gradient(#e9ce66, #c87300);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    -webkit-text-fill-color: transparent;
}

/* ----------------------------- */
/* ---------------- */
.dragSearch {
    display: none;
}

.dragSearch.active {
    display: none;
}

.toggleSearch {
    display: none;
    transition: all 0.3s ease;
}

.search_container {
    background: #fff;
    padding: .7rem 1rem;
    border-radius: 4rem;
    display: flex;
    align-items: center;
    grid-gap: 4.5rem;
}

.search_container label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_container > input {
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--black_secondary);
}

.search_container > input::placeholder {
    color: var(--black_secondary);
}

.search {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    color: var(--button_background);
}

.microphone {
    display: flex;
    align-items: center;
    background: var(--button_background);
    border-radius: 50%;
    padding: .8rem;
}

.mike {
    width: 1.4rem;
    height: 1.4rem;
    cursor: pointer;
    color: var(--brown_primary);
}

/* Header section ends here */

.description {
    width: 40%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: flex-end;
    text-align: left;
}

.description > h1 {
    font-weight: 400;
    line-height: 6rem;
    color: var(--brown_primary);
}

.description > h3 {
    line-height: 4.5rem;
    font-weight: 400;
    color: var(--brown_tertiary);
}

.description > h5 {
    font-weight: 400;
    text-align: end;
    font-size: 1.6rem;
    color: var(--brown_tertiary);
}

.description > a {
    width: fit-content;
    margin-top: 1.5rem;
    border: 1.5px solid #fff;
    padding: 1rem 3rem;
    border-radius: 5rem;
    background: transparent;
    color: var(--brown_tertiary);
    transition: all 0.3s;
}

.description > a:hover {
    background: var(--brown_primary);
    border: 1.5px solid var(--brown_primary);
}


@media (max-width: 1199.98px) {
    .links {
        grid-gap: 4rem;
    }

    .search_container {
        padding: .7rem 1rem;
        border-radius: 4rem;
        grid-gap: 2rem;
    }

    .description {
        width: 47%;
    }
}


/* for Medium devices such as tablets */
@media (max-width: 991.98px) {
    .links {
        align-items: center;
        grid-gap: 1rem;
    }
    .container {
        background: rgba(0, 0, 0, 0.15);
    }

    .container > header {
        align-items: flex-start;
    }

    .search_container {
        grid-gap: 1rem;
    }

    .description {
        width: 57%;
    }

    .description > a {
        padding: .6rem 2rem;
    }
}

/* Small devices (landscape phone, ) */

@media (max-width: 767.98px) {

    .background_img {
        width: 120%;
        left: 0;
    }

    .description {
        width: 70%;
        margin-bottom: 2rem;
    }

    .description > h1 {
        font-size: 4rem;
        font-weight: 600;
        line-height: 5rem;
    }
    
    .description > h3 {
        line-height: 4rem;
        font-size: 2.4rem;
        font-weight: 500;
    }
    
    .description > h5 {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .description > a {
        align-self: flex-end;
    }
}

/* Small devices such as phone */

@media (max-width: 575.98px) {
    .wrapper {
        height: 70vh;
    }
    .container {
        padding: 1rem .5rem;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
    }

    .container > header {
        align-items: center;
    }

    .background_img {
        width: 220%;
        height: 70vh;
        left: -40%;
    }


    .logo img {
        top: 0rem !important;
    }

    .search_container {
        width: 2.8rem;
        height: 2.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #dfd0b1;
    }

    .search_container > input {
        width: 16rem;
        display: none;
        font-size: 1.4rem;
    }

    .search {
        color: var(--brown_primary);
        width: 1.4rem;
        height: 1.4rem;
    }

    .microphone {
        display: none;
    }

    .toggleSearch {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        transition: all 0.3s ease-in-out;
    }

    .toggleSearch.active {
        height: 100vh;
        z-index: 2;
        background: rgba(0, 0, 0, 0.8);
        transition: all 0.3s ease-in-out;
    }

    /* ----------------
    -------------- */

    .dragSearch.active {
        position: fixed;
        background: #fff;
        top: 3rem;
        padding: .7rem 1rem;
        border-radius: 4rem;
        display: flex;        /* align-items: center; */
        grid-gap: 2rem;
        z-index: 3;
    }
    
    .dragSearch.active label {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .dragSearch.active > input {
        border: none;
        outline: none;
        font-size: 1.5rem;
        color: var(--black_secondary);
    }
    
    .dragSearch.active > input::placeholder {
        color: var(--black_secondary);
    }
    
    .dragSearch.active .search {
        cursor: pointer;
        width: 2rem;
        height: 2rem;
        color: var(--button_background);
    }
    
    .dragSearch.active .microphone {
        display: flex;
        align-items: center;
        background: var(--button_background);
        border-radius: 50%;
        padding: .8rem;
    }
    
    .login {
        top: 0;
    }

    .description {
        margin-bottom: 0;
        width: 100%;
        padding: 0 .5rem;
    }

    .description > h1 {
        font-size: 3rem;
        line-height: 3.8rem;
        margin-bottom: .5rem;
    }
    
    .description > h3 {
        line-height: 2.5rem;
        margin: .5rem 0;
        font-size: 2rem;
    }
    
    .description > h5 {
        font-size: 1.3rem;
        line-height: 2rem;
    }
 }