* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --brown_primary: #9a6c38;
  --brown_secondary: #a98031;
  --brown_tertiary: #dfd0af;
  --button_background: #dfd0b1;
  --black_primary: #cccccc;
  --color_gold: #ebc940;
  --black_secondary: #a1a09e;
  --black_tertiary: #666666;
  /* #916c38
  #666666
  #333333
  #111111 */

}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
}

h1 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3.2rem;
}

h5 {
  font-size: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 90%;
}

.swiper-pagination-bullet {
  width: 4rem !important;
  height: .5rem !important;
  border-radius: 0 !important;
  background: #A2A09F !important;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #a98031 !important;
}

.swiper-slide.swiper-slide-active h3{
  color: var(--brown_primary) !important;
  font-size: 3rem;
  opacity: 1;
}

.swiper-slide.swiper-slide-active img{
  width: 32.7rem !important;
  height: 23.6rem !important;
  opacity: 1;
  border-radius: .4rem;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
  border: 4px solid #fff;
}

@media (max-width: 1199.98px) {

}


/* for Medium devices such as tablets */
@media (max-width: 991.98px) {

}

/* Small devices (landscape phone, ) */

@media (max-width: 767.98px) {
  
}

/* Small devices such as phone */

@media (max-width: 575.98px) {
  
 }