* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --brown_primary: #9a6c38;
  --brown_secondary: #a98031;
  --brown_tertiary: #dfd0af;
  --button_background: #dfd0b1;
  --black_primary: #cccccc;
  --color_gold: #ebc940;
  --black_secondary: #a1a09e;
  --black_tertiary: #666666;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
}

h1 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3.2rem;
}

h5 {
  font-size: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
  background: transparent;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-focus-ring-color: transparent !important;
  outline: none !important;
}


.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-focus-ring-color: transparent !important;
  outline: none !important;
}

.container {
  width: 92%;
}

/* Navigation starts here ----------------------
---------------------------*/
.navigation {
  display: flex;
  grid-gap: .5rem;
  color: #ccc;
}

.navigation a {
  text-transform: capitalize;
  color: #333;
}

.navigation p {
  text-transform: capitalize;
  color: #c87300;
}

/* Navigation ends here ----------------------
---------------------------------*/


/* Swiper styling -----------------
-------------------------- */
.my_swiper .swiper-pagination-bullet {
  width: 4rem !important;
  height: .5rem !important;
  border-radius: 0 !important;
  background: #A2A09F !important;
}

.my_swiper .swiper-pagination-bullet-active {
  color: #fff;
  background: #a98031 !important;
}

.my_swiper .swiper-slide.swiper-slide-active h3{
  color: var(--brown_primary) !important;
  font-size: 3rem;
  opacity: 1;
}

.my_swiper .swiper-slide.swiper-slide-active img{
  width: 32.7rem !important;
  height: 23.6rem !important;
  opacity: 1;
  border-radius: .4rem;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
  border: 4px solid #fff;
}

/* Swiper styling Ends here-----------------
-------------------------- */


@media (max-width: 1199.98px) {

}


/* for Medium devices such as tablets --------------
---------------------*/
@media (max-width: 991.98px) {
  /* .container {
    width: 95%;
  } */

  .my_swiper .swiper-slide.swiper-slide-active img{
    width: 18rem !important;
    height: 14rem !important;
  }
}

/* Small devices (landscape phone, )------------------
--------------------------- */

@media (max-width: 767.98px) {

  .my_swiper .swiper-slide.swiper-slide-active h3{
    font-size: 2.2rem;
  }

  .my_swiper .swiper-slide.swiper-slide-active img{
    width: 18rem !important;
    height: 12rem !important;
  }
}

/* Small devices such as phone -------------------
-----------------------------------*/

@media (max-width: 575.98px) {
  
 }