* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --brown_primary: #9a6c38;
  --brown_secondary: #a98031;
  --brown_tertiary: #dfd0af;
  --button_background: #dfd0b1;
  --black_primary: ;
  --color_gold: #ebc940;
  --black_secondary: #a1a09e;
  /* #916c38
  
  
  #cccccc
  #666666
  #333333
  #111111 */

}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
}

h1 {
  font-size: 4.8rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 90%;
}



@media (max-width: 1199.98px) {

}


/* for Medium devices such as tablets */
@media (max-width: 991.98px) {

}

/* Small devices (landscape phone, ) */

@media (max-width: 767.98px) {
  
}

/* Small devices such as phone */

@media (max-width: 575.98px) {
  
 }