.wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.background_img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 105vh;
    z-index: 1;
}

.wrapper>header {
    padding: 2rem;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
    display: flex;
    letter-spacing: 1px;
    align-items: center;
    grid-gap: 2.5rem;
    text-transform: uppercase;
    font-weight: 500;
    z-index: 3;
}

.wrapper img {
    width: 6rem !important;
    height: 8rem !important;
}

.userIcon {
    width: 1.5rem;
    color: var(--color_gold);
}

.skip {
    cursor: pointer;
    display: flex;
    align-items: center;
    grid-gap: .5rem;
    transition: all 0.4s;
    -webkit-tap-highlight-color: transparent !important;
    -webkit-focus-ring-color: transparent !important;
    outline: none !important;  
}

.skipIcon {
    color: inherit;
    width: 1.5rem;
    height: 1.5rem;
}

.skip:hover {
    color: #333;
}


.desc {
    width: 45%;
    margin-bottom: 6rem;
    padding: 0 2rem;
    text-align: right;
    z-index: 3;
}

.desc>h1 {
    font-weight: 400;
    font-size: 3.6rem;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#f5c400, #f08e06);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



@media (max-width: 1199.98px) {

}


/* for Medium devices such as tablets */
@media (max-width: 991.98px) {
    .wrapper>header {
        font-size: 1.4rem;
    }

    .wrapper img {
        width: 4.5rem !important;
        height: 6rem !important;
    }
}

/* Small devices (landscape phone, ) */

@media (max-width: 767.98px) {
    .background_img {
        width: 130%;
        height: 105vh;
    }

    .wrapper>header {
        grid-gap: 1.5rem;
    }

    .wrapper img {
        width: 3.5rem !important;
        height: 5rem !important;
    }

    .desc {
        width: 55%;
    }
}

/* Small devices such as phone */

@media (max-width: 575.98px) {
    .background_img {
        width: 200%;
        height: 103vh;
    }

    .background_img::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: 2;
        display: block;
        background: rgba(0, 0, 0, 0.1);
    }

    .wrapper>header {
        grid-gap: 2rem;
    }
    .skip {
        padding: 1rem;
        border-radius: .5rem;
        background-image: linear-gradient(153.4deg, rgba(56, 56, 56, 1) 46.3%, rgba(28, 28, 28, 1) 46.8%);
        color: #fff;
    }

    .desc {
        width: 85%;
        margin-bottom: 7rem;
    }

    .desc h1 {
        font-size: 3rem;
    }
}